/* Reset and base styles of unclassed html elements */
@import "base.css";
/* Scaffolding for the page layout + header and footer stuff */
@import "site-layout.css";

/* CSS custom properties (variables) */
:root {
  --bgLight: #eee;
  --bgDark: #222;
  --textLight: #fff;
  --textDark: #333;
  --link: #0867ba;
  --variableFontBold: 666;
}

.adventure {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
}

.adventure > a {
  padding: 1rem 2rem;
  background-color: whitesmoke;
  font-size: 1.5rem;
  color: var(--textDark);
}

.adventure > a:hover {
  background-color: silver;
}
