# Ignore packages, the build workflow will want its own
node_modules

# Ignore the local build of static files from Eleventy
_site

# Ignore files local OS or editors might create
.idea/
.vscode/
.DS_Store
