---
layout: main.njk
title: frontpage
---

<h1>Choose your own command line Git adventure</h1>

<!-- Create promoted adventure entrances at the top of the front page-->
<nav>
  {%- for adventure in collections.promotedAdventures -%}
  <div class="adventure">
    <a href="{{ adventure.url | url }}">
      {{ adventure.data.title }}
    </a>
  </div>
  {%- endfor -%}
</nav>

<!-- Create randomized adventure entrances on front page-->
<nav>
  {%- for adventure in collections.randomizedAdventures -%}
  <div class="adventure">
    <a href="{{ adventure.url | url }}">
      {{ adventure.data.title }}
    </a>
  </div>
  {%- endfor -%}
</nav>
