<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Booster 2024 Workshop: Choose your own command line Git adventure"
    />
    <title>Git Workshop</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  </head>
  <body class="site">
    <header class="siteHeader">
      <h1 class="siteTitle">
        <a href="{{ '/' | url }}">Git Workshop</a>
      </h1>
    </header>

    <main class="siteContent">
      <div class="responsiveContentWrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer class="siteFooter">
      <a href="https://github.com/elisabethirgens/booster2024-git-workshop">
        github.com/elisabethirgens/booster2024-git-workshop
      </a>
    </footer>
  </body>
</html>
